/* CSS file for dynamic pages */

/* Mobile Styles */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav {
    background: #f7d6ff;
    background-color: #f7d6ff;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  }
  .container {
    margin-top: 2em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    background: #f7d6ff;
    background-color: #f7d6ff;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  }
  .container {
    margin-top: 2em;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .profile-header {
    width: 25%;
    float: left;
    margin-top: 8em;
    margin-left: 3rem;
  }
  .container {
    margin-top: 8em;
    margin-right: 3rem;
    width: 60%;
    float: right;
  }
  .tweets-container {
    width: 60%;
    float: right;
  }
}
