nav {
  position: fixed;
  top: 0;
  background: #4056a1;
  color: white;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
span {
  display: flex;
  font-family: "Bungee", cursive;
  font-size: 150%;
}

a {
  display: flex;
  font-size: 110%;
  color: white;
  text-decoration: none;
}

a:hover {
  color: pink;
}

b {
  margin-right: 5px;
}

#bird {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  padding-right: 5px;
}
a:hover #bird {
  top: -10px;
}
