/* CSS file to control the styling for the entire tweets container */

article {
  border: solid #545149;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 20px;
  flex-direction: column;
  align-content: center;
}
article:hover {
  box-shadow: 6px 6px #cccee4;
  font-weight: bold;
}

article header {
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
}

article header img {
  padding-right: 10px;
}

.handle {
  color: #f4f1ec;
}

article:hover .handle {
  margin-left: auto;
  font-weight: bold;
  color: #cccee4;
}

.tweet-body {
  border-bottom: solid #545149;
  border-width: thick;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

article footer {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

article footer p {
  padding: 0px;
  margin: 0px;
  font-size: medium;
}
